@use '../util' as u;

.button {
    padding: u.rem(16);
    color: var(--white);
    border-radius: u.rem(32);
    width: u.rem(192);
    font-size: var(--f-body);
    font-weight: var(--f-w-extra-bold);
    border: 1px solid transparent;
    transition: background-color 150ms ease-in-out;




    &--teal {
        background-color: var(--teal);

        &:hover {
            background-color: var(--white);
            color: var(--teal);
            border: 1px solid var(--teal);
            transition: background-color 300ms ease-in-out;
        }
    }

    &--purple {
        background-color: var(--purple);

        &:hover {
            background-color: var(--white);
            color: var(--purple);
            border: 1px solid var(--purple);
            transition: background-color 300ms ease-in-out;
        }
    }
}